<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/head %>
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
				<% include partials/sidebar %>
				<% include partials/topnav %>
				
				<!-- page content -->
				<div class="right_col" role="main">
					<h1><%= title %></h1>
					<p>Welcome to <%= title %></p>
				</div>
				
			</div>
		</div>
	</div>
	
<% include partials/footer %>
</body>

</html>

