<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
  
    <% include ../../partials/post_head %>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
      <% include ../../partials/sidebar %>
      <% include ../../partials/topnav %>

    <!-- page content -->
    <div class="right_col" role="main">

    </div>
    <!-- /page content -->

  </div>

</div>

<% include ../../partials/footer %>

<% include ../../partials/post_footer %>
</body>

</html>

