<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>

    <% include ../../partials/post_head %>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
      <% include ../../partials/sidebar %>
      <% include ../../partials/topnav %>


      <!--Iterar html pelo conteudo da variavel  artigos definida em routes/artigos.js-->
    <!-- page content -->
    <div class="right_col" role="main">
      <p>
        <% artigos.forEach(function(art){ %>
          <%= art.CodArtigo %>
          <br/>
        <% }); %>

      </p>
    </div>
    <!-- /page content -->

  </div>

</div>

<% include ../../partials/footer %>

<% include ../../partials/post_footer %>
</body>

</html>
